@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');


*{
    box-sizing: border-box;
}

:root{
    /* Typography*/
    --family:'Nunito Sans',serif-sans;
    --fs-sm:14px;
    --fs-md:16px;
    --fw-light:300;
    --fw-normal:600;
    --fw-bold:800;
    /* Other*/
    --radius:0.5rem;
}

body[data-theme='Light']{
    --color-text:hsl(200, 15%, 8%);
    --color-bg:hsl(0, 0%, 98%);
    --color-ui-base:hsl(0, 0%, 100%);

}
body[data-theme='Dark']{
    --color-text:hsl(0, 0%, 100%);
    --color-bg:hsl(207, 26%, 17%);
    --color-ui-base:hsl(209, 23%, 22%)
}

body{
    margin: 0;
    font-family: var(--family);
    color:var(--color-text);
    background-color: var(--color-bg);
    font-weight: var(--fw-light);
}

